.music-container {
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
}

.music-container::before {
    content: '';
    position: absolute;
    right: 0;
    z-index: -1;
    background-image: 
        linear-gradient(to right, $black, transparent), 
        linear-gradient(to top, $black 5%, transparent 80%),
        $music-photo;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 80%;
    background-size: cover;
    filter: blur(4px);
}

.bandcamp-embed {
    width: 350px;
    height: 470px;
    padding: 10px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: $shadow-3;
    align-self: center;
}

.music-text-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    height: 80%;
}


