.music-container {
    margin: 50px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-image: linear-gradient(to right, $black, transparent), $music-photo;
    background-repeat: no-repeat;
    background-position: right;
}

iframe {
    width: 350px;
    height: 470px;
    padding: 10px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: $shadow-3;
}