.music-container {
    background-color: $white;
    color: $black;
    margin: 20px 100px;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

iframe {
    width: 350px;
    height: 470px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}