header {
    text-align: center;
    background-image: linear-gradient(to top, $black, transparent), $header-photo;
    background-size: 100%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.page-title {
    margin: 0 auto;
    font-size: 10em;
    font-family: $title-font;
    font-weight: 700;
    padding: 30px 0 50px;
}

.navbar-container {
    // background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
    font-family: $body-font;
    font-size: 2em;
}