header {
    text-align: center;
    background-image: linear-gradient(to top, $black, transparent), $header-photo;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title {
    margin: 0 auto;
    font-size: 10em;
    font-family: $title-font;
    font-weight: 700;
    padding: 60px 0;
}

.navbar-container {
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
    font-family: $body-font;
    font-size: 2em;
    li {
        color: $grey;
        padding-bottom: 5px;
        transition: border-bottom 200ms, color 200ms;
        &:hover {
            border-bottom: 3px solid $white;
            padding-bottom: 2px;
            transition: border-bottom 200ms, color 200ms;
            cursor: pointer;
        }
        a {
            padding: none;
            color: $grey;
            text-decoration: none;
            &:hover {
                color: $white;
            }
        }
    }
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.nav-shadow {
    background-color: (rgba(0, 0, 0, 0.85));
}


// Media Queries
@media (max-width: $tablet-bp) {
    .navbar {
        display: none;
    }
    header {
        justify-content: flex-end;
    }
    .page-title {
        padding-bottom: 100px;
        font-size: 7em;
    }
}

@media (max-width: $mobile-bp) {
    header {
        justify-content: center;
        background-position-y: center;
    }
    .page-title {
        padding-bottom: 0;
        font-size: 5em;
    }
}

@media (max-height: $mobile-bp) {
    .navbar {
        display: none;
    }
}