header {
    text-align: center;
    background-image: linear-gradient(to top, $black, transparent), $header-photo;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 150px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title {
    margin: 0 auto;
    font-size: 10em;
    font-family: $title-font;
    font-weight: 700;
    padding: 60px 0;
}

.navbar-container {
    // background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
    font-family: $body-font;
    font-size: 2em;
    li {
        color: $grey;
        padding-bottom: 4px;
        transition: border-bottom 150ms, padding-bottom 150ms, color 150ms;
        &:hover {
            color: $white;
            border-bottom: 2px solid $white;
            padding-bottom: 2px;
            transition: border-bottom 150ms, padding-bottom 150ms, color 150ms;
            cursor: pointer;
        }
    }
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.nav-shadow {
    background-color: (rgba(0, 0, 0, 0.85));
}