// fonts
$title-font: 'Rubik', sans-serif;
$body-font: 'Gloria Hallelujah', sans-serif;

// colors
$black: #000000;
$white: #fdfdfd;
$grey: #818181;

// images
$header-photo: url('../images/cover-photo.jpg');
$music-photo: url('../images/album-art.jpg');
$about-photo: url('../images/bogbody.jpg');

// box shadow
$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-3: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
