// fonts
$title-font: 'Rubik', sans-serif;
$body-font: 'Gloria Hallelujah', sans-serif;

// colors
$black: #000000;
$white: #fdfdfd;
$grey: #818181;

// images
$header-photo: url('../images/cover-photo.jpg')
